.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-button {
  position: relative;
  display: inline-block;
  text-align: center;
}

.progress-button button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0;
  width: 280px;
  height: 48px;
  border-radius: 30px;
  color: #fff;
  letter-spacing: 1px;
  background-color: #7655E9;;
  font-family: 'Montserrat', sans-serif;
  border: none;
  transition: background-color 1s, color 1s, width 1s;
  z-index: 10;
}

.progress-button button span {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
}

.success.progress-button button {
  width: 280px;
  border: 2px solid #7655E9;
  background-color: transparent;
  color: #7655E9;
  transition: background-color 0.3s ease, color 0.3s ease, width 1s;
  pointer-events: none;
}

.final.progress-button button {
  animation: showFinalBtnState 1s linear;
}

.final.progress-button span {
  animation: showOverTime 1s linear;
}

.progress-button button:hover {
  background-color: #B1A0EE;
}

.progress-button button:focus {
  outline: none;
}


.loading.progress-button button {
  width: 48px;
  border: 2px solid rgba(77, 92, 101, 0.2);
  background-color: transparent;
  color: #fff;
}

.loading.progress-button span {
  -webkit-transition: opacity 0.15s;
  transition: opacity 0.15s;
}

.loading.progress-button span  {
  opacity: 0; /* keep it hidden in all states */
}

.progress-button button span {
  -webkit-transition: opacity 0.3s 0.1s;
  transition: opacity 0.3s 0.1s;
}

.show {
  opacity: 1;
}

.success.progress-button span {
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
  transition-delay: 1s;
}

.svg-wrapper {
  position: absolute;
  top: 50%;
  right: 45px;
  transform: translateY(-50%);
  opacity: 0;
  z-index: -100;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
  transition-delay: 1s;
}

.success.svg-wrapper {
  opacity: 1;
  z-index: 1;
}

.final.success.svg-wrapper {
  display: none;
}

@keyframes showOverTime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes showFinalBtnState {
  from {
    border: 2px solid #7655E9;
    background-color: transparent;
    color: #7655E9;
  }
  to {
    border: none;
    color: #ffffff;
    background-color: #7655E9;
    pointer-events: all;
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124;
  }
}
@-webkit-keyframes color {
  0% {
    stroke: #70c542;
  }
  40% {
    stroke: #70c542;
  }
  66% {
    stroke: #70c542;
  }
  80%, 90% {
    stroke: #70c542;
  }
}


.loader {
  position: relative;
  width: 48px;
  height: 48px;
}

.loader:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.circular-loader {
  -webkit-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
  height: 100%;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
}

.loader-path {
  stroke-dasharray: 150,200;
  stroke-dashoffset: -10;
  -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

.loader-wrapper {
  display: inline-block;
  position: absolute;
  transform: translateX(-50%);
  top: 0;
  left: 50%;
  transition: opacity 1s ease;
  transition-delay: 1s;
  pointer-events: none;
  z-index: -100;
  opacity: 0;
}

.show {
  opacity: 1;
}

.success .loader-wrapper {
  opacity: 0;
  transition: opacity 0.2s ease;
  transition-delay: 0s;
}
